<!-- section class="slice color1"  id="contactSlice" -->
    <section id="contactSlice" class="classContato">
      <div class="container">
        <div class="row">
          <div class="span12 classTitulo">
            CONTATO
            <div class="linha"></div>
          </div>

          <br>&nbsp;<br>

<!-- Inicio iconWrapper--> 
          <div class="span3">
              <a href="" title="" id="mapTriggerLoader">
                <div class="iconWrapper iconBig">
                    <i class="icon-location"></i>
                </div>
                <span class="clearfix">Click to see the map</span>
              </a>
             <!-- <p>Curabitur turpis orci, gravida non ornare id, venenatis nec enim. Praesent posuere condimentum leo eget volutpat. .</p>-->
          </div>
 <!-- fim iconWrapper  -->

          <div class="span6">
              <form method="post" action="js-plugin/neko-contact-ajax-plugin/php/form-handler.php" id="contactfrm">
                <label for="name"></label>
                <input type="text" name="name" id="name" placeholder="Nome">
                <label for="email"></label>
                <input type="text" name="email" id="email" placeholder="Email">
                <label for="phone"></label>
                <input name="phone" type="text" id="phone" size="30" value="" placeholder="Telefone" class="required digits">
                <label for="comments"></label>
                <textarea name="comment" id="comments" cols="3" rows="5" placeholder="Digite sua mensagem…"></textarea>
                <!-- fieldset class="clearfix securityCheck">
                <legend>Security</legend>
                <div class="row">
                  <div class="span6 pull-left humanCheck">
                    <label for="verify" class="pull-left"><img src="js-plugin/neko-contact-ajax-plugin/php/image.php" alt="Image verification"/></label>
                    <input class="required "  id="verify" name="verify" type="text" >
                  </div>
                </div>
                </fieldset -->
                <br/>
                <button name="submit" type="submit" class="btn" id="submit"> Enviar </button>
                <!--div class="classTitulo classTituloEnviar">
                  <img src="./images/contBotao.png" border="0px" style="cursor:pointer;">
                </div-->
              </form>

              <div class="result"></div>
            </div>


            <div class="span3 coluna3">
              <strong>Endereço:</strong>
              <br>
              Estrada do Rio Grande, 3623
              <br>
              Taquara - Jacarepaguá 
              <br>
              Rio de Janeiro
              <br>&nbsp;<br>
              <strong>Telefones:</strong> 
              <br>
              2446-5884
              <br>
              2446-5555
              <br>
              2495-4441 
            </div>
            <!-- div class="span3">
              <address>
              Address:<br/>
              Himalaya Company<br/>
              77 Mass. Ave., E14/E15<br/>
              Cambridge, MA 02139-4307 USA <br/>
              <br/>
              phone:<br/>
              615.987.1234<br/>
              </address>
            </div -->
          </div>


<!-- Google Code for ClickSoft Conversion Page -->
<script type="text/javascript">
/* <![CDATA[ */
    var google_conversion_id = 989669514;
    var google_conversion_language = "en";
    var google_conversion_format = "2";
    var google_conversion_color = "ffffff";
    var google_conversion_label = "NJsqCP7KigQQitH01wM";
    var google_conversion_value = 1.00;
    var google_conversion_currency = "BRL";
    var google_remarketing_only = false;
    /* ]]> */
</script>

<script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js"></script>

<noscript>
<div style="display:inline;">

<img height="1" width="1" style="border-style:none;" alt="" src="//www.googleadservices.com/pagead/conversion/989669514/?value=1.00&amp;currency_code=BRL&amp;label=NJsqCP7KigQQitH01wM&amp;guid=ON&amp;script=0"/>
</div>

</noscript>

          <div id="mapSlide">
            <div class="span12">
              <div id="mapWrapper"></div>
                <a href="#" title="" id="mapReturn" class="btn btn-small">
                 <i class="icon-left-dir"></i> Back
              </a>
            </div>
          </div>
        </div>
         <br><br>
      </div>

    </section>


  <!-- end content -->

  <!-- nav class="arrowsNav">
    <a href="#homeCorpo" class="navUp color4">
    <i class="icon-up-open"></i>
    </a>
  </nav -->

  <!-- footer -->

  <!-- footer>
    <section id="mainFooter">
      <div class="container" id="footer">
        <div class="row">
          <div class="span3 testimonialWidget">
            <img src="images/footer-logo.png" alt="latest Little Neko news">
            <p>
              <a href="http://www.little-neko.com" title="Little Neko, website template creation">
              Little Neko
              </a>
              is a web design and development studio. We build responsive HTML5 and CSS3 templates, integrating best web design practises and up-to-date web technologies to create great user experiences. We love what we do and we hope you too ! </p>
          </div>
          <div class="span3 projectWidget">
            <h3><i class="icon-cog"></i>Latest Projects</h3>
            <ul class="media-list">
              <li class="media">
                <a class="pull-left" href="#">
                <img class="media-object" src="images/works/footer-work1.jpg" alt="latest Little Neko news">
                </a>
                <div class="media-body">
                  <p>Nullam sed tortor odio. Suspendisse tincidunt dictum nisi, nec convallis odio. </p>
                </div>
              </li>
              <li class="media">
                <a class="pull-left" href="#">
                <img class="media-object" src="images/works/footer-work2.jpg" alt="latest Little Neko news">
                </a>
                <div class="media-body">
                  <p>Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae</p>
                </div>
              </li>
            </ul>
          </div>
          <div class="span3 testimonialWidget2">
            <h3><i class="icon-folder-open"></i> Testimonial </h3>
            <div class="row">
              <div class="span3">
                <div class="bulle bulleBottom color3">
                  <blockquote> When you are courting a nice girl an hour seems like a second. When you sit on a red-hot cinder a second seems like an hour. That's relativity. </blockquote>
                  <div class="arrow"></div>
                </div>
                <div class="clientIcon">
                  <i class="icon-user"></i> Albert Einstein </div>
              </div>
            </div>
          </div>
          <div class="span3 contactWidget">
            <h3><i class="icon-mail-alt"></i> Contact us</h3>
            <address>
            <strong>Little NEKO</strong>
            <p>
              <i class="icon-location"></i>&nbsp;77 Mass. Ave., E14/E15<br>
              Cambridge, MA 02139-4307 USA <br>
              <i class="icon-phone"></i>&nbsp;615.987.1234 <br>
              <i class="icon-mail-alt"></i>&nbsp;
              <a href="mailto:little@little-neko.com">
              little@little-neko.com
              </a>
            </p>
            </address>
            <ul class="socialNetwork">
              <li>
                <a href="#" class="iconWrapper color3 tips icoFacebook" title="Facebook">
                <i class="icon-facebook"></i>
                </a>
              </li>
              <li>
                <a href="#" class="iconWrapper color3 tips icoTwitter" title="Twitter">
                <i class="icon-twitter"></i>
                </a>
              </li>
              <li>
                <a href="#" class="iconWrapper color3 tips icoGoogle" title="Google +">
                <i class="icon-gplus"></i>
                </a>
              </li>
              <li class="last">
                <a href="#" class="iconWrapper color3 tips icoLinkedin" title="Linkedin">
                <i class="icon-linkedin"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>
  </footer -->
